<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <select id="ddlClass" class="form-select" aria-label=".form-select-lg example">
                <option value='-1'>--Select Class--</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option selected value='4'>4</option>
                <option value='5'>5</option>
            </select>
        </div>
        <div class="col-3">
            <select id="ddlYear" class="form-select" aria-label=".form-select-lg example">
                <option value="-1">--Year--</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option selected value="2023">2023</option>
            </select>
        </div>

        <div class="col-3">
            <button class="btn btn-outline-primary" type="button" onclick="LoadClasswiseStudents()">Load Students</button>
        </div>
    </div>
    <hr />
    <div class="row" id="dvStudentsDetails">

    </div>
</div>

<script>
    function LoadClasswiseStudents() {
        var ddlClass = parseInt(document.getElementById("ddlClass").value)
        var ddlYear = parseInt(document.getElementById("ddlYear").value)

        var url = "@Url.Action("LoadClasswiseStudents", "Accounts")";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            dataType: "html",
            data: {
                iClass: ddlClass,
                iYear: ddlYear
            },
            success: function (data) {
                successLoadClasswiseStudents(true, data);
            }
        });
    }
    function successLoadClasswiseStudents(bSuccess, data) {
        document.getElementById("dvStudentsDetails").innerHTML = data;
    }
</script>