

<div class="row">
    <div class="row" style="background-color: aliceblue;color: #854bc5 !important;">
        <label>Size : fa-2x</label>
        <div class="col-12">
            <label>
                <i class="fa fa-2x fa-backward">Backward</i>
            </label>

            <label>
                Forward
                <i class="fa fa-2x fa-forward"></i>
            </label>

            <label>
                Backward
                <i class="fa fa-2x fa-step-backward"></i>
            </label>

            <label>
                Forward
                <i class="fa fa-2x fa-step-forward"></i>
            </label>
            <label>
                save
                <i class="fa fa-2x fa-save"></i>
            </label>
            <label>
                save
                <i class="fa fa-2x fa-save"></i>
            </label>

            <label>
                remove Size : 2x
                <i class="fa fa-2x fa-remove"></i>
            </label>
            <label>
                home Size : 2x
                <i class="fa fa-2x fa-home"></i>
            </label>
        </div>
    </div>

    <label class="clearfix">&nbsp;</label>

    <div class="row" style="background-color: aliceblue;color: #854bc5 !important;">
        <label>Size : fa-lg</label>
        <div class="col-12">
            <label title="This is Tooltip">
                <i class="fa fa-lg fa-address-book"></i>
            </label>

            <label>
                plus
                <i class="fa fa-lg fa-plus"></i>
            </label>

            <label>
                minus
                <i class="fa fa-lg fa-minus"></i>
            </label>

            <label>
                plus-circle
                <i class="fa fa-lg fa-plus-circle"></i>
            </label>
            <label>
                plus-square
                <i class="fa fa-lg fa-plus-square"></i>
            </label>

           



            <label>
                minus
                <i class="fa fa-lg fa-minus"></i>
            </label>

            <label>
                minus-circle
                <i class="fa fa-lg fa-minus-circle"></i>
            </label>

            <label>
                plus-square
                <i class="fa fa-lg fa-minus-square"></i>
            </label>





            <label>
                Forward
                <i class="fa fa-2x fa-step-forward"></i>
            </label>
            <label>
                save
                <i class="fa fa-2x fa-save"></i>
            </label>
            <label>
                save
                <i class="fa fa-2x fa-save"></i>
            </label>

            <label>
                remove Size : 2x
                <i class="fa fa-2x fa-remove"></i>
            </label>
            <label>
                home Size : 2x
                <i class="fa fa-home fa-2x"></i>
            </label>
        </div>
    </div>

</div>