@{ 
    string str = "";
}

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <input id="Time1" type="time" class="form-control" />
            <input type="button" value="Set Time" onClick="SetTime()">
            <input type="time" id="Time2" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Add Time</label>
            <input id="iHour" type="number" class="form-control" />
            <input id="iMin" type="number" class="form-control" />
            <input type="button" value="AddTime" onClick="AddTime()">
        </div>

        <hr />
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Starting Time</label>
            <input type="time" id="sTime" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ending Time</label>
            <input type="time" id="eTime" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Duration</label>
            <input type="time" id="iDuration" class="form-control">
        </div>

        <div class="mb-3">
            <input type="button" class="btn btn-secondary" value="Total No Of Periods" onClick="CalculateNoOfPeriods()">
            <label id="noofperiods" class="form-label"></label>
        </div>
    </div>
</div>


<script type="text/javascript">
    function SetTime() {
        debugger;
        var iValue = TimeToInt('Time1');

        IntToTime(iValue, 'Time2');
    }

    function TimeToInt(iId) {
        debugger;
        var iTimeValue = 0;
        var iHours = 0;
        var iMins = 0;
        var iSec = 0;
        var Time1 = document.getElementById(iId).value
        var arTime = [];
        arTime = Time1.split(':');
        for (var iCounter = 0; iCounter < arTime.length; iCounter++) {
            switch (iCounter) {
                case 0://Hour            
                    iTimeValue += arTime[iCounter] * 60 * 60;
                    break;
                case 1://Min                
                    iTimeValue += arTime[iCounter] * 60;
                    break;
                case 2://Sec                 
                    iTimeValue += arTime[iCounter];
                    break;
            }
        }
        return iTimeValue;
    }

    function IntToTime(d, iId) {
        d = Number(d);      
        var h = Math.floor(d / 3600);     
        var m = Math.floor(d % 3600 / 60);     
        var s = Math.floor(d % 3600 % 60);
        //var hDisplay = h > 0 ? h + (h == 1 ? " hour " : " hours ") : "";        
        //var mDisplay = m > 0 ? m + (m == 1 ? " minute " : " minutes ") : "";      
        //var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";      
        //alert(hDisplay + mDisplay + sDisplay + "\n" + h + ":" + m + ":" + s);
        h = h > 9 ? h : '0' + h;   
        m = m > 9 ? m : '0' + m;  
        var sTime = h + ":" + m;   
        document.getElementById(iId).value = sTime; 
    }
    
    function AddTime() {    
        var iTime = 0;       
        var iHour = 0;     
        var iMin = 0;       
        var iValue = 0;
        iTime = TimeToInt('Time1')      
        if (document.getElementById('iHour').value != '') {
            iHour = parseInt(document.getElementById('iHour').value) * 3600; //Secs        
        }        
        if (document.getElementById('iMin').value != '') {          
            iMin = parseInt(document.getElementById('iMin').value) * 60; //Secs       
        }
        iValue = iTime + iHour + iMin; IntToTime(iValue, 'Time2')
    }

    function CalculateNoOfPeriods() {
        debugger;
        var iTotalTime = 0;
        var iNoOfPeriods = 0;
        var sValue = 0; 
        var eValue = 0;
        var iDuration = 0;

        sValue = TimeToInt('sTime');
        eValue = TimeToInt('eTime');
        iDuration = TimeToInt('iDuration');
        iTotalTime = eValue - sValue;
        document.getElementById("noofperiods").textContent = "No of Periods : " + parseInt(iTotalTime / iDuration) + " and Fraction Time : " + parseInt((iTotalTime % iDuration) / 60);
    }
</script>
