@{
    ViewBag.Title = "Home Page";
}

<div id="dvLogin" style="border:1px solid red;top: 10%;position: relative;background-color: #c8c6b0;">
    <div class="form-group">
        <label id="lblStatus" class="control-label"></label>
    </div>

    <div class="form-group">
        <label class="control-label">User id</label>
        <input id="txtUserId" type="text" class="form-control" value="su" />
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input id="txtPwd" type="text" class="form-control" value="su" />
    </div>

    <div class="form-group">
        <label class="control-label">Type</label>
        <select id="ddlType" class="form-select" aria-label="Default select example">
            <option value="0">--Select--</option>
            <option value="1" selected>Admin</option>
            <option value="2">Teacher</option>
            <option value="3">Student</option>
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" name="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
            Remember me
        </label>
    </div>
    <input class="btn btn-primary" type="button" value="Login" onclick="LOGIN.Login(this)">


    @*NOTE : pass user id/passowrd/usertype using ActionLink : This is the problem*@
    @*href="/home/MultipleParameter/?data1=678&data2=c-sharpcorner
        @Html.ActionLink("Login", "Login", "Home", new { onclick = "href += '&sUserId=' + document.getElementById('txtUserId').value;" })
        @*new { area = "abc", iModule = 1 }, new { @class = "navbar-brand" })*@
</div>
