@using SchoolBones

@model DoubleIntValue
@{
    DoubleIntValue oData = null;
    Modules eModules = Modules.Developer;
    SubModule eSubModule = SubModule.None;
    Registration[] arrRegisteredUsers = null;


    oData = Model;
    if (oData != null)
    {
        eModules = (Modules)oData.Id1;
        eSubModule = (SubModule)oData.Id2;
        arrRegisteredUsers = (Registration[])oData.Value;
    }
}
<div class="row">
    @Html.Partial("_HeaderNavigation", new DoubleInt(Id: (int)eModules, Value: (int)eSubModule))

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input id="txtUserName" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Father Name</label>
            <input id="txtFatherName" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Date of birth</label>
            <input id="txtDob" type="text" class="form-control" />
        </div>

        @*<div class="mb-3">
            <label for="" class="form-label">User Type</label>
            <select id="ddlUserType" class="form-select">
                @if (eModules == Modules.Admin)
                {
                    <option value='2' selected>Teacher</option>
                    <option value='3'>Student</option>
                }
                else
                {
                    <option value='3'>Student</option>
                }
            </select>
        </div>*@

        <div class="mb-3">
            <label style="border: 1px solid;margin-right: 95px;border-radius: 10px;font-size: 30px;" id="lblRegId" for="" class="form-label"></label>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" id="dvLoadRegUser">
            @Html.Partial("~/Areas/AdmissionArea/Views/Shared/_LoadRegUser.cshtml", Model)
        </div>
        <div class="row" id="dvAddUserDetail">

        </div>
    </div>
</div>


<script>
    var arrRegisteredUsers = [];
    arrRegisteredUsers = @Html.Raw(Json.Encode(arrRegisteredUsers));
</script>
