

@using DomLibrary;

@model TimeTableLayout[]
@{
    TimeTableLayout[] arrTimeTableLayout = null;

    arrTimeTableLayout = Model;
}

<div class="row">
    @Html.Partial("_HeaderNavigation", new DoubleInt(Id: (int)Modules.Admin, Value: (int)SubModule.TimeTableLayout))

    <div class="col-md-3">
        <div class="mb-3">
            <label for="" class="form-label">Layout Name</label>
            <input id="txtAlias" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Class</label>
            <select id="ddlClass" class="form-select">
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option selected value='4'>4</option>
                <option value='5'>5</option>
            </select>
        </div>

        <div class="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Starting Time</label>
                <input type="time" id="txtStartingPeriod" class="form-control">  @*sTime : txtStartingPeriod*@
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ending Time</label>
                <input type="time" id="eTime" class="form-control">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Duration of Period</label>
                <input type="time" id="txtDuration" class="form-control">  @*iDuration : txtDuration*@
            </div>

            <div class="mb-3">
                <input type="button" class="btn btn-secondary" value="Total No Of Periods" onClick="TIMETABLE.CalculateNoOfPeriods('txtStartingPeriod', 'eTime', 'txtDuration')">
                <label id="noofperiods" class="form-label"></label>
            </div>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nof of Periods</label>
            <input id="txtNoOfPeriod" type="text" class="form-control" readonly/>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Lunch Break</label>
            <input id="txtLunchBreak" type="text" class="form-control" />
        </div>
    </div>
    <div class="col-md-9" id="">
        <div class="row" id="dvFilter" style="display:none">
            <div class="row" style="background-color: #854bc5;height: 50px; border-radius: 5px; padding-top:5px">
                <div class="col-3">
                    <select id="ddlLayout" class="form-select">
                        <option value="-1">--Select Layout--</option>
                        <option value="1">Jan-Apr</option>
                        <option value="2">May-Aug</option>
                        <option value="3">Sep-Dec</option>
                    </select>
                </div>
                <div class="col-3">
                    <select id="ddlYear" class="form-select">
                        <option value="-1">--Year--</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option selected value="2023">2023</option>
                    </select>
                </div>

                <div class="col-3">
                    @*<label for="exampleFormControlInput1" class="form-label">Class</label>*@
                    <select id="ddlClass" class="form-select">
                        <option selected value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                    </select>
                </div>

                @*<div class="col-3">
                        <label for="exampleFormControlInput1" class="form-label">Created Date : </label>@DateDS.IntToDate(oTimeTable.CreatedDate, 1).Date.ToString("dd/MM/yyyy")
                    </div>*@

                @*<div class="col-3">
                        <button class="btn btn-outline-primary" type="button" onclick="TIMETABLE.LoadClasswiseTimeTable()">Load Classwise Time Table</button>
                    </div>*@

            </div>
            <div style="height: 20px;background-color: white;" class="row">&nbsp;</div>
        </div>

        <div id="dvClasswiseTimeTable" class="row">

        </div>
    </div>
</div>