
.HeaderContent{
    height:auto;
    background-color:#5c984873;
    color:white;
    /*font-size:large;*/
    /*padding:5px;*/
    margin: 0px;
    text-align:left;
}

.FooterContent{
    height:auto;
    background-color:#5c984873;
    color:white;
    font-size:large;
    padding:5px;
    margin: 0px;
    text-align:center;
}
.DisableElement{
    pointer-events: none;
    opacity: 0.5;
}
.SelectedMenu {
    background-color: #e5dcdc;
    color: black;
}
.subA {
    /*padding: 2px !important;*/
}

.Navigation{
    background-color:#854bc5 !important;
}
/*Start : Table*/
.ReportTable {
    background-color: white;
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
    caption-side: bottom;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
}
        .ReportTable thead {
            height: 50px;
            color: white;
            background-color:#854bc5 !important;
        }

        .ReportTable tbody tr {
            height: 40px;
            border-bottom: 1px solid #ddd;
        }

    .SelectRow {
        background-color: #e5dcdc;
    }
/*End : Table*/

