@using SchoolBones
@using DomLibrary;

@using SchoolBones.Common

@model List<PassFailStatus>
@{
    List<PassFailStatus> lstPassFailStatus = Model;
}
<div class="container-fluid">
    <div class="row">
        <table class="ReportTable">
            <thead>
                <tr>
                    <th>Roll no</th>
                    <th>Obtained Marks</th>
                    <th>Passing Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (lstPassFailStatus != null)
                    {
                        for (int iRow = 0; iRow < lstPassFailStatus.Count; iRow++)
                        {
                            <tr>
                                <td>@lstPassFailStatus[iRow].StdId</td>
                                <td>@lstPassFailStatus[iRow].ObtainedMarks</td>
                                <td>@lstPassFailStatus[iRow].PassingStatus</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


